{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles%}
    {{ super() }}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
{% endblock %}


{% block content %}
<div class="row">
        <div class="col-lg-9"> 
            <br><br><br>

            <div class="container">
                <h2>{{blog.title}}</h2>
                <hr>
    
                <p>{{blog.body}}</p>
                <br><br>
                <small>Written by: {{blog.user.username}}</small>
                <br>
                <small>Posted on: {{blog.posted}}</small>         
            </div>

            <br><br><br>
        </div>
        {% if current_user.username=='Logan' %}
        <div class="col-lg-3 mt-5 pt-4"> 
            <div class="container">
            
                <div id="commentheader">
                    <h3>Update Blog Post</h3>
                    <hr>
                </div>
                <div>
                    <a href="{{url_for('main.update_blog',id = blog.id)}}" class="btn btn-sm"><button class="btn btn-success btn-sm m-1 mb-1">Update</button></a>
                </div>
        {% endif %}
    
        <div class="col-lg-3 mt-5 pt-4"> 
            <div class="container">
            
                <div id="commentheader">
                    <h3>Comments</h3>
                    <hr>
                </div>

                <div>
                    {% for comment in comments %}
                    <p>{{comment.comment}}</p>

                    {% if current_user.username=='Logan' %}
                    <div>
                        <a href="{{url_for('main.delete_comment',id=comment.id)}}"><button class="btn btn-danger btn-sm m-1 mb-1">Delete Comment</button></a>
                    </div>
            
                    {% endif %}
                    {% endfor%}
                </div>

            </div>

            <div class="row">
                <div id="commentform">
                    <h3>Leave a Comment</h3>
                    {{wtf.quick_form(comment_form)}}
                    {{simplemde.load}}
                </div>
            </div>
        </div>

</div>


{% endblock %}