{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles%}
    {{ super() }}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
{% endblock %}


{% block content %}
<div class="row">
        <div class="col-lg-9"> 
            <br><br><br>

            <div class="container">
                <h2>{{blog.title}}</h2>
                <hr>
                <h4>Posted on: {{blog.posted}}</h4>
                <br>
                <p>{{blog.body}}</p>         
            </div>

            <br><br><br>
        </div>
    
        <div class="col-lg-3 mt-5 pt-4"> 
            <div class="container">
            
                <div id="commentheader">
                    <h3>Comments</h3>
                    <hr>
                </div>
                

                <div>
                    {% for comment in comments %}
                    <p>{{comment.comment}}</p>

                    {% if current_user.is_authenticated %}
                    <div>
                        <a href="/blog/{{blog.id}}?delete=1">Delete Comment</i></a>
                    </div>
                    {% endif %}
                    {% endfor%}
                </div>

            </div>

            <div class="row">
                <div id="commentform">
                    <h3>Leave a Comment</h3>
                    {{wtf.quick_form(comment_form)}}
                    {{simplemde.load}}
                </div>
            </div>
        </div>

</div>


{% endblock %}